.OrderForm {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    max-width: 768px;
    margin: 8px auto;
}

td, th {
    padding: 12px;
}

td {
    text-align: right;
}


.Head {
    color: white;
}

.Body {
    background-color: #34495e;
    color: #f5fee9;
}

.Body td {
    text-align: center;
}

.YourOrder{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: 8px auto;
    -webkit-box-shadow: 0 2px 3px #000;
    box-shadow: 0 2px 3px #000;
    background-color: #34495e;
}

.Choose {
    font-weight: bold;
    background-color: #19bd9b;
    border-bottom: 2px solid #dddddd;
    color: #34495e;
    padding: 12px;
    display: flex;
    justify-content: space-around;
}

.Choose span {
    cursor: pointer;
    opacity: 0.5

}

.Choose span.Selected {
    opacity: 1;
}

.Choose span:hover {
    opacity: 1;
}
